@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;1,100&family=Wix+Madefor+Text&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Mo
}

body {
  overflow: hidden;
}


header {
    width: 100%;

}

/* Barra Fundacao CSN*/

.navFundationCSN {
    width: 100%;
    height: 4.3vh;
    background: #24243a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navFundationCSN img {
    width: 1.9rem;
    margin-right: 0.3rem;
}

.navFundationCSN p {
    color: white;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: bold;
}

/* Barra LINKS */ 

.NavLinks {
    width: 100%;
    height: 3.6vh;
    background: #292944;
    display: flex;
    align-items: center;
}

.NavLinks .subbarLinks {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 15rem;
    gap: 1.8rem;
}

.NavLinks .subbarLinks p{
    font-size: 14px;
    color: #00B6CA;

}

.barSocial {
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    background: #3e3e57;
}

.barSocial img{
    width: 1.3vw;
    margin-top: 0.3rem;
}

/* Barra LOGO */ 

.BarLogo {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

/* IMAGEM PRINCIPAL */ 

.MainImage {
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(41, 41, 68, 0.6), rgb(41, 41, 68, 0.6)), url(img/main-img.jpg);
    background-position: center;
    background-size: cover;
}

/* Carrosel de Salas */

.mainCarrosel {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14vh;
  background: #edb700;
}

.background-effects .enfeite1 img {
  position: absolute;
  top: 22%;
  left: 70%;
}

.background-effects .enfeite2 img {
  position: absolute;
  top: 80%;
  
}

.wrapper{
  display: flex;
  max-width: 1370px;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 55px;
  width: 55px;
  color: #343F4F;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  text-align: center;
  line-height: 55px;
  background: #00B6CA;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active{
  transform: translateY(-50%) scale(0.9);

}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}

.carousel button{
  background: transparent;
  border: none;
}

.carousel img{
  height: 340px;
  user-select: none;
  margin-left: 14px;
  border-radius: 8px;
  width: calc(370% / 4);
  border: 5px solid #24243a;
}
.carousel img:first-child{
  margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}


/* Styles PouUp */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff;
  width: 550px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 1px 2px 4px (0, 0, 0 ,0.4);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Styles Titulo */
.modal-title h1{
  text-transform: uppercase;
  color: #24243a;
}

/* Styles Infos Salas */
.modal-infos {
  width: 70%;
  height: 8vh;
  text-align: start;
  display: flex;
  justify-content: center;
}

/* Styles Infos Salas > UL LI */
.modal ul li::marker {
  content: none;
}

.modal ul li {
  font-size: 21px;
  margin-top: 10px;
  color: #24243a;
}

.modal ul li i{
  color: #24243a;
}

/* Styles Images */
.modal-img-salas img {
  height: 340px;
  user-select: none;
  margin-left: 14px;
  border-radius: 5px;
  width: calc(370% / 4);
  border: 4px solid #24243a;
}

/* Styles PouUp Botoes*/
.modal-buttons button {
  width: 6rem;
  background: #edb700;
  color: #24243a;
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 0.6rem;
  transition: 0.3s;
}

.modal-buttons button:hover {
  background: #edb6009a;
}



.modal-reserva {
  background-color: #F2F1EA;
  border-radius: 16px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.9);
  padding: 30px 50px;
  width: 380px;
  max-width: 100%;
  text-align: center;
  height: 600px;
}

.modal h1 {
  margin: 0;
  font-size: 35px;
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
  text-decoration: underline;
}

.modal-reserva h1 {
  margin: 0;
  font-size: 35px;
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
  text-decoration: underline;
}

.modal p {
  font-size: 20px;
  color: #1c1c31;

}

.modal li {
  margin-top: 5px;
  font-weight: 500;
}

.poupup-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poupup {
  background-color: #F2F1EA;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 16px;
  width: 360px;
  height: 60vh;
  padding: 20px 20px;
}


.poupup-topo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.poupup-topo img{
  width: 9vw;
}

.sub-poupup {
  background-color: #D9D9D9;
  border-radius: 16px;
  height: 400px;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-poupup form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sub-poupup .verificamento {
  display: flex;
  flex-direction: column;
}

.sub-poupup .data {
  background-color: #EDB700;
  border-radius: 10px;
  font-size: large;
  padding: 20px 10px;
  font-family: "Roboto Mono", monospace;
  color: #1c1c31;
  font-size: 18px;
  border: none;
  outline: none;

}


.sub-poupup select {
  background-color: #EDB700;
  border-radius: 10px;
  font-family: "Roboto Mono", monospace;
  padding: 10px 40px;
  width: 30px;
  color: #1c1c31;
  font-size: 18px;
  border: none;
  outline: none;
  height: 50px;
  width: 150px;

}

.sub-poupup p {
  color: #1c1c31;
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.btn-dolado {
  margin-top: 100px;
}

.sub-poupup .btn-dolado button {
  width: 140px;
  height: 60px;
  color: #292944;
  font-size: 21px;
  background: #edb700;
  border: 0;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  
}

.sub-poupup .btn-dolado button:hover {
  background: #edb600ab;
}



